  <div class="jumbotron">
    <div class="h2_update">Here are your connections</div>
  </div>


  <div class = "row">
    <div class="col-md-6">
      <%= render 'connections_current_connections' %>
    </div>

    <div class="col-md-6">
      <%= render 'connections_pending_requests' %>
      <%= render 'connections_invite_form' %>
    </div>
  </div>
