<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @current_user.firstname %> would like to connect on Savvy Gifter!</h1>
    <p>
      Check out <a href="<%= @url %>">Savvy Gifter</a> and create an account to get started.
    </p>

    <p>Your temporary password is <%= @temp_pw %></p>
    <p>Keep it savvy,</p>
    <p>-The Savvy team</p>
  </body>
</html>
