<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @current_user.firstname %> would like to connect!</h1>
    <p>
      Check out <a href="http://www.savvygifter.com">Giftshare</a> and create an account to get started.
    </p>
    <p>We look forward to you joining our community!</p>
    <p>-The gift share team</p>
  </body>
</html>
