<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @current_user.firstname %> would like to connect!</h1>
    <p>
      <a href="http://afternoon-inlet-6717.herokuapp.com/connections">Log in</a> and respond to this request!
    </p>
    <p>Thanks for being a valued member,</p>
    <p>-The gift share team</p>
  </body>
</html>
