

  <div class="jumbotron">
    <div class="h2_update">Welcome, <%= @current_user.firstname %>! Here are your gift lists.</div>
  </div>


  <div class = "row">
    <div class="col-md-6">
      <%= render 'mylists_home_mycurrentlists' %>
      <%= render 'mylists_home_lists_shared_with_me' %>
    </div>   <!-- This ends the table column -->
    <div class="col-md-6">
    <%= render 'mylists_home_create_new_list' %>
    </div>
  </div> <!-- this ends the row -->





