<div class="jumbotron">
  <div class="h2_update">My purchases</div>
</div>

<div class="col-md-1"></div>
<div class="col-md-10">
  <%= render 'my_purchases_table' %>
</div>
<div class="col-md-1"></div>
