  <div class="jumbotron">
    <div class="h2_update">You are viewing: <%= @selected_list.listname %></div>
  </div>

  <%= render 'shared_list_table' %>

  <%= render 'shared_list_purchases' %>











