<div class="padding_bottom">
  <% if @sec_verif.present? %>
    <form class="form-signin" role="form" action="/login/authenticate/<%= @sec_verif %>">
  <% else %>
    <form class="form-signin" role="form" action="/login/authenticate">
  <% end %>
    <h2 class="form-signin-heading center_text">Please sign in</h2>
    <div class="padding_bottom_10">
      <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
    </div>
    <div>
      <input name="pwd" type="password" class="form-control" placeholder="Password" required>
    </div>
    <label class="checkbox">
      <input name="remember_login" type="checkbox" value="remember_me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
<div class="center_text">
  <p>...or <%= link_to "Create an account", "/create_account" %> today!</p>
</div>
