<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <%= image_tag "gift_boxes.jpg", :width => 600, :class => "img-responsive img-rounded center_image" %>
        </div>
        <div class="col-lg-4">
        <%= render 'login_form' %>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                Gift giving has never been this easy
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 center_text">
            <h2>Create & Share Lists</h2>
            <p>Create a gift list and share it with your friends and family so they know exactly what you want. Say goodbye to the days of getting that ugly brown sweater...</p>
        </div>
        <div class="col-lg-4 center_text">
            <h2>Avoid Duplicates</h2>
            <p>Your connections can claim items off your list so it's clear who is buying you what. We're eliminating that awkward moment when your mom and sister realize they bought you the same thing.</p>
        </div>
        <div class="col-lg-4 center_text">
            <h2>Keep the Surprise</h2>
            <p>Only other buyers will be able to see what has been purchased from the gift list. The recipient will be completely surprised on the big day.</p>
        </div>
    </div>
</div>

